<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationForm</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.AddUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationForm</servlet-name>
        <url-pattern>/auth/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.AddProductToListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allCartProducts</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allCartProducts</servlet-name>
        <url-pattern>/users/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.AddProductToShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteFromCart</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.DeleteProductFromCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteFromCart</servlet-name>
        <url-pattern>/users/cart/product/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkoutOrder</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.CheckoutOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkoutOrder</servlet-name>
        <url-pattern>/orders/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllOrders</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetAllOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getAllOrders</servlet-name>
        <url-pattern>/users/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getOrder</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getOrder</servlet-name>
        <url-pattern>/users/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.DeleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/users/orders/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.DeleteProductFromListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allAdminProducts</servlet-name>
        <servlet-class>mate.academy.webshop.controllers.GetAllProductsAdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allAdminProducts</servlet-name>
        <url-pattern>/admin/products/all</url-pattern>
    </servlet-mapping>

</web-app>
